.nestedNode {
  display: var(--json-tree-inline-flex);

  &--expandable {
    align-items: var(--json-tree-align-items);
    display: var(--json-tree-block);
  }

  &--expanded {
    display: var(--json-tree-inline);
  }

  &--itemType {
    margin-right: var(--json-tree-nested-node-item-type-margin);

    &--expanded {
      display: var(--json-tree-inline);
    }
  }
}

.nestedNodeLabelWrap {
  display: var(--json-tree-inline-flex);
  align-items: var(--json-tree-align-items);
  cursor: pointer;
}

.nestedNodeItemString {
  display: var(--json-tree-inline-flex);
}

.nestedNodeChildren {
  display: var(--json-tree-block);
  flex-direction: var(--json-tree-flex-direction);
  margin-left: var(--json-tree-children-margin);
  padding: var(--json-tree-ul-padding);
}

.nestedNodeLabel {
  display: var(--json-tree-inline-flex);
  align-items: var(--json-tree-align-items);
  margin-right: var(--json-tree-nested-node-label-margin);

  &--expandable {
    display: var(--json-tree-inline-flex);
    align-items: var(--json-tree-align-items);
  }

  &--expanded {
    display: var(--json-tree-inline-flex);
  }
}

.rootNode {
  display: var(--json-tree-inline-flex);
}

.rootNodeExpanded {
}

.rootNodeExpandable {
}

.rootNodeChildren {
  display: var(--json-tree-block);
  flex-direction: var(--json-tree-flex-direction);
  padding: var(--json-tree-ul-root-children-padding);
}
