.arrowContainer {
  display: var(--json-tree-inline-flex);
  margin-right: var(--json-tree-arrow-container-margin-right);
}

.arrow {
  transition: var(--json-tree-transition);
  transform-origin: var(--json-tree-arrow-transform-origin);
  display: var(--json-tree-inline-flex);
  color: var(--json-tree-arrow-color);

  &--node-type {
  }
  &--expanded {
    transform: var(--json-tree-arrow-transform);
  }
  &--arrow-style {
    &--single {
    }
    &--double {
    }
  }
}
