.nestedNode{
  display: inherit;
  margin-left: 1.5em;

  &--expanded{
    display: inherit;
  }
  &--expandable{
    display: inherit;
  }
  &--itemType{
    display: inherit;
    &--expanded{
      display: inherit;
    }
  }

  &__label{
    display: inline-flex;
  }

  &__itemString{
    display: inherit;
  }
  &__children{
    display: inherit;
  }
}

.rootNode{
  display: inherit;
  &--expanded{
    display: inherit;
  }
  &--expandable{
    display: inherit;
  }

  &__children{
    margin-left: 1.5em;
    display: inherit;
  }
}
